[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-osc = "*"
usd-core = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"

[scripts]
osc = "python -Xutf8 -m mocopiSlimevrFulltrack udp --writer osc"
